#opencensus-wrapper
  /[if lt IE 9]
    %p.ie8-warning
      You are using an old version of Internet Explorer. CensusFile is faster and better-looking in newer web browser. We recommend you download
      %a{:href => 'http://www.google.com/chrome'} Google Chrome
      or
      %a{:href => 'http://getfirefox.com'} Mozilla Firefox
      and then return to this page.

  .nav
    .sections
      %ul
        %li.people.selected
          %a{:href => '#population-density'} People
        %li.families
          %a{:href => '#marital-status:married'} Families
        %li.languages
          %a{:href => '#mother-tongue:english-v-french'} Languages
        %li.dwellings
          %a{:href => '#dwellings'} Dwellings

  -#
    %form.location
      %p.startup-content Enter an address to find census data around it:
      %p
        %label{:for => 'opencensus-address-input'} Location
        %input.text#opencensus-address-input{:type => 'text', :name => 'q', :placeholder => '99 Atlantic Ave., Toronto'}
        %input.submit{:type => 'submit', :value => 'Go'}
      %div.status
      %p.startup-content
        %a.skip{:href => '#'} or click here to enjoy the map

  .section

  .map

  .region-info
    .compare-prompt
      %a{:href => '#'}
        %span.click Click
        to compare
    .region-info-view
