#opencensus-wrapper
  /[if lt IE 9]
    %p.ie8-warning
      You are using an old version of Internet Explorer. CensusFile is faster and better-looking in newer web browser. We recommend you download
      %a{:href => 'http://www.google.com/chrome'} Google Chrome
      or
      %a{:href => 'http://getfirefox.com'} Mozilla Firefox
      and then return to this page.

  .nav
    .sections
      %ul
        %li.people.selected
          %a{:href => '#growth'} People
        %li.families
          %a{:href => '#parents:mother'} Families
        %li.languages
          %a{:href => '#language:en-v-fr'} Languages
        %li.end

  .section

  .map

  .region-info
    .region-selector
    .region-info-view
    .region-links
