#opencensus-wrapper
  /[if lt IE 9]
    %p.ie8-warning
      You are using an old version of Internet Explorer. CensusFile is faster and better-looking in newer web browser. We recommend you download
      %a{:href => 'http://www.google.com/chrome'} Google Chrome
      or
      %a{:href => 'http://getfirefox.com'} Mozilla Firefox
      and then return to this page.

  .nav
    %ul.indicators
      %li.population.selected
        %a{:href => '#population'} Population
      %li.growth
        %a{:href => '#growth'} Growth

  %form.location
    %p.startup-content Enter an address to find census data around it:
    %p
      %label{:for => 'opencensus-address-input'} Location
      %input.text#opencensus-address-input{:type => 'text', :name => 'q', :placeholder => '99 Atlantic Ave., Toronto'}
      %input.submit{:type => 'submit', :value => 'Go'}
    %div.status
    %p.startup-content
      %a.skip{:href => '#'} or click here to enjoy the map

  .map-and-info
    .map
    .region-info
      .compare-prompt
        %a{:href => '#'}
          %span.click Click
          to compare
      %table
        %thead.regions
          %tr
            %th.region/
            %th.compare-region/
        %thead.sub.population
          %tr
            %th.region Population
            %th.compare-region/
        %tbody.population
          %tr
            %td.region
            %td.compare-region
        %tbody.growth
          %tr
            %td.region
            %td.compare-region
        %thead.sub.fraction_male
          %tr
            %th.region Sexes
            %th.compare-region/
        %tbody.fraction_male
          %tr
            %td.region
            %td.compare-region
        %thead.sub.ages
          %tr
            %th.region Ages
            %th.compare-region/
        %tbody.ages
          %tr.ages
            %td.region
            %td.compare-region
        %tbody.links
          %tr
            %td.region
            %td.compare-region
  .legend
